body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

ol,
li,
ul,
dl,
dt,
dd {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

h1,
h2,
h3,
h4,
h5,
h6,
i,
strong {
  font-weight: normal;
}

img {
  vertical-align: middle;
  border: none;
  width: 100%;
}

i {
  font: inherit;
}

a {
  color: #fff;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: transparent;
}

a:hover {
  text-decoration: none;
  outline: none;
}

.marginstart {
  margin: 0 !important;
}

select::-ms-expand {
  display: none;
}

a:active,
a:hover {
  outline: 0
}

.clearfix::before,
.clearfix::after {
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;

}

.fl {
  float: left;
}

.fr {
  float: right;
}

input,
select,
option {
  vertical-align: middle;
  border-radius: 0px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

input[type="text"],
input[type="button"],
input[type="submit"],
input[type="reset"] {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  outline: none;
}

.overflow {
  overflow: hidden;
}

@font-face {
  font-family: 'DIN Alternate Bold';
  src: url('../font/DIN Alternate Bold.ttf');
}


html,
body {
  color: #444;
  font-family: PingFang-SC-Heavy, PingFang-SC;
}

.main {
  width: 100%;
  height: 100%;
  background: url(../images/banner.png) top center no-repeat;

}

.baseWidth {

  min-width: 916px;
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  padding: 55px 0 160px;
}

.headright {
  float: right;
  width: 35%;
  text-align: right;
}

.headleft {
  width: 65%;
}

.headtips {
  text-align: right;
  font-size: 14px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  line-height: 20px;

  padding: 15px 0;

}

.headtips span {
  color: #fff;
  margin: 0 10px;
  display: inline;
}

.search {
  width: 232px;
  height: 34px;
  background: rgba(50, 106, 237, 1);
  border-radius: 2px;
  border: none;
  position: relative;
  float: right;
}

.inputSearch {
  width: 232px;
  background: none;
  border: none;
  height: 34px;
  line-height: 34px;
  text-indent: 10px;
  font-size: 14px;
  color: #fff;
}


.search .botSimit {
  position: absolute;
  background: url(../images/search.png) center center no-repeat;
  width: 32px;
  height: 32px;
  border: none;
  right: 0;
  top: 0;
  cursor: pointer;
}

/* 这是logo和搜索结束 */
.navigator {
  height: 56px;
  background: rgba(6, 66, 148, 1);
  width: 100%;
  margin-bottom: 35px;
}

.nav {}

.nav li {
  font-family: 'DIN Alternate Bold';
  float: left;
  font-size: 20px;
  color: #fff;
  font-weight: normal;
  cursor: pointer;
  position: relative;
}

.nav li a {
  color: #fff;
  font-size: 18px;
}

.nav_up {
  width: 13px;
  height: 7px;
  display: inline-block;
  background: url(../images/backnew.png) center center no-repeat;
  margin-left: 12px;
  vertical-align: middle;
  position: absolute;
  right: 5px;
  top: 25px;
}

.top_r_m {
  display: none
}

.nav li h5 {
  height: 56px;
  line-height: 56px;
  padding: 0 25px;
}

.nav_sub {
  position: absolute;
  padding: 5px 0;
  display: none;
  z-index: 4;
  background: rgba(2, 35, 97, 1);
}

.nav_sub dd a {
  font-family: 'OpenSans-Regular';
  font-size: 18px
}

.nav_sub dd {

  background: rgba(52, 106, 179);
  white-space: nowrap;
  height: 52px;
  line-height: 52px;

  padding: 0 30px;
}

.nav_sub dd:hover {
  background: rgba(244, 249, 255, 1);
  color: rgba(2, 35, 97, 1);
}

.nav_sub dd:hover a {
  font-family: 'OpenSans-Regular';
  text-decoration: none;
  color: rgba(2, 35, 97, 1);
}

.nav li:hover h5 {

  background: rgba(2, 35, 97, 1);
  height: 56px;
  line-height: 56px;
}

.nav li:hover .nav_sub {
  display: block
}

.nav li:hover .nav_up {
  background: none
}

.nav .nav_last:hover h5 {
  border-top: 4px solid #4A95ED;
}

.nav_last .nav_sub {
  right: 0;
}

/* 这是图片切换开始 */
.newsBox {
  overflow: hidden;
  background-color: #3288EC;
  margin-bottom: 60px;
}

.newsImage {
  width: 66%;
  max-height: 435px;

  float: left;

}

.newsTips {
  background-color: #3288EC;
  float: left;
  width: 34%;
  margin-top: 0px;
}

.newsTips h2,
.newsTips ul {
  padding: 0 20px;
}

.newsTips h2 {
  font-size: 35px;
  font-family: Arial-BoldMT, Arial;
  padding: 30px 20px 20px;
  font-weight: bold;
  color: #fff;
}

.newsTips ul li::before {
  content: '';
  width: 26px;
  height: 4px;
  background: rgba(137, 248, 28, 1);
  display: block;
  margin-bottom: 5px;
}

.newsTips ul li p {
  font-size: 16px;
  font-family: SanFranciscoText-Bold, SanFranciscoText;
  font-weight: bold;
  height: 52px;
  line-height: 22px;
  margin-bottom: 10px;
  overflow: hidden;
}

.newsMore {
  height: 34px;
  padding: 0 25px;
}

.newsMore a {
  width: 126px;
  height: 34px;
  background: rgba(42, 42, 42, 1);
  display: block;
  text-align: center;
  line-height: 34px;
  float: right;
}

.newsMore a img {
  width: 14px;
  height: 13px;
  margin-left: 5px;

}

/* 这是图片切换结束 */

/* 这是中间三个新闻 */
.databox {
  overflow: hidden;
  margin-bottom: 50px;
}

.databox dl {
  width: 32%;
  float: left;
  margin-right: 2%;
}

.databox dl dt {
  margin-bottom: 20px;
}

.databox dl.margin0 {
  margin: 0 !important;
}

.databox dl dd ul li {
  margin-bottom: 10px;
}

.databox dl dd ul li a {
  color: #444;
  font-size: 16px;
  font-family: PingFang-SC-Heavy, PingFang-SC;
  font-weight: 800;
  color: rgba(68, 68, 68, 1);
  line-height: 22px;
}

.databox dl dd ul li::after {
  content: '';
  width: 57px;
  height: 1px;
  display: block;
  background-color: #326FFF;
}

.databox dl dd ul li p {
  height: 44px;
  overflow: hidden;
  margin-bottom: 15px;

}

/* caseStudy部分开始 */
.caseStudy {
  background: rgba(241, 241, 241, 1);
  overflow: hidden;
  padding-bottom: 65px;
}

.caseStudy h2 {
  font-size: 35px;
  font-family: Arial-BoldMT, Arial;
  font-weight: normal;
  color: rgba(68, 68, 68, 1);
  line-height: 40px;
  padding: 38px 0;
  text-align: center;
}

.caseStudy ul li {
  width: 15.8333333333%;
  margin-right: 1%;
  float: left;
}

.Forefront {
  padding: 45px 0;
  overflow: hidden;
}

.foremenu {
  font-size: 30px;
  font-family: Arial-BoldMT, Arial;
  font-weight: normal;
  color: rgba(68, 68, 68, 1);
  line-height: 40px;
  height: 40px;
  padding-bottom: 36px;
}

.foremenu h2 {}

.foremenu span {
  width: 26px;
  height: 26px;
  display: block;
  float: right;
  cursor: pointer;
}

.front {
  width: 64%;
  float: left;
  position: relative;
}

.front::after {
  content: '';
  width: 1px;
  display: block;
  background-color: rgba(176, 189, 205, 0.5);
  height: 100%;

  position: absolute;
  right: 0px;
  top: 0px;
}

.front dl dt {
  width: 325px;
  float: left;
}

.front dl dt p a {
  color: rgba(68, 68, 68, 1);
  line-height: 28px;
}

.front dl dd {
  margin-left: 355px;
  padding-bottom: 10px;
}

.front dl dd ul {
  padding-right: 50px;
}

.front dl dd ul li {
  border-bottom: 1px dotted #C0CCDB;
  padding: 8px 0;
}

.front dl dd ul li a {
  color: #444;
  font-size: 15px;
  font-family: PingFang-SC-Heavy, PingFang-SC;
  color: rgba(68, 68, 68, 1);
  line-height: 22px;
}

.resources .foremenu h2 {
  padding-left: 45px;
}

.resources {
  width: 36%;
  float: left;

}

.resbanner {
  border: none !important;
  width: 100%;
}

.resmain {
  padding-left: 45px;



}

.resmain .flex-viewport {
  width: 100%;
}

.resmain .flex-direction-nav a {
  opacity: 1;
}

.resmain .flex-container a:active,
.resmain .flexslider a:active,
.resmain .flex-container a:focus,
.resmain .flexslider a:focus {
  display: block;
}

.resmain .flex-direction-nav .flex-disabled {
  opacity: 1 !important;
}

.resmain .flexslider .slides img {
  width: 95%;
}

.resmain .flex-direction-nav a {
  width: 36px;
  height: 36px;
  top: -52px;
}

.resmain .flex-direction-nav a.flex-prev {
  background: url(../images/foreleft.png) center center no-repeat;
  left: auto;
  right: 30px;
}

.resmain .flex-direction-nav .flex-next {
  right: 0 !important;
  opacity: 1 !important;
  background: url(../images/foreright.png) center center no-repeat;
}

.Partners {
  background: rgba(241, 241, 241, 0.4);
  padding: 45px 0;
  overflow: hidden;
}

.partbox ul {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.foot {
  padding: 46px 0 68px;
  background: rgba(24, 47, 108, 1);
  width: 100%;
}

.footleft {
  width: 520px;
  float: left;
}

.footleft h3 {
  font-size: 35px;
  font-family: Arial-BoldMT, Arial;
  font-weight: normal;
  color: rgba(249, 249, 249, 1);
  line-height: 40px;
  margin-bottom: 8px;
}

.footleft p {
  width: 70%;
  color: #fff;
  font-size: 18px;
  font-family: SanFranciscoText-Semibold, SanFranciscoText;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  line-height: 26px;
}

.footright p {
  font-size: 16px;
  font-family: SanFranciscoText-Semibold, SanFranciscoText;
  font-weight: 600;
  color: rgba(105, 174, 255, 1);
  line-height: 39px;
}



/*about message start*/
.secondheader {
  padding: 55px 0 80px;
}

.about {
  background-color: #fff;
  padding: 15px;
  min-height: 1000px;
}

.backnav {
  background: rgba(245, 245, 245, 1);
  height: 42px;
  line-height: 42px;
  padding: 0 20px;
  margin-bottom: 10px;
}

.backnav a {
  font-size: 14px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: rgba(62, 108, 175, 1);
  line-height: 20px;
}

.aboutleft {
  width: 272px;
  float: left;
  background-color: rgba(2, 35, 97, 1);
  padding-bottom: 10px;
}

.aboutmenu {
  font-size: 30px;
  font-family: "DINAlternate-Bold", "DINAlternate";
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  line-height: 35px;
  height: 70px;
  line-height: 70px;
  text-indent: 20px;
}

.aboutnav ul li {
  height: 52px;
  line-height: 52px;
  margin-bottom: 2px;
  overflow: hidden;
}

.aboutnav ul li a {
  display: block;
  height: 100%;
  width: 100%;
  font-family: "DINAlternate-Bold", "DINAlternate";
  font-weight: bold;

  font-size: 14px;
  background: rgba(52, 106, 179, 1);
}

.aboutnav ul li.menutwoline a {

  line-height: 24px;
}

.aboutnav ul li a span {
  padding-left: 20px;

}

.aboutnav ul li.menutwoline a span {
  display: block;
  padding-left: 76px;

}

.aboutnav ul li a:hover,
.aboutnav ul li a.cur {
  background-image: url(../images/about.png);
  background-position: 250px center;

  background-repeat: no-repeat;
  background-color: rgba(244, 249, 255, 1);
  color: rgba(2, 35, 97, 1);
}

.aboutnav ul li a img {
  width: 56px;
  height: 52px;

  float: left;
}

.aboutmain {
  margin-left: 300px;
}

.detailnav {
  height: 36px;
  font-size: 22px;
  font-family: "DINAlternate-Bold", "DINAlternate";
  font-weight: bold;
  color: rgba(68, 68, 68, 1);
  line-height: 36px;
  padding-bottom: 5px;
  border-bottom: 1px solid #C4D6EC;
  margin-bottom: 30px;
}

.aboutbody {
  border-bottom: 1px solid #C4D6EC;
  padding-bottom: 50px;
}

.aboutimg {

  width: 104px;
  height: 126px;
  float: left;
}

.aboutconent {
  display: block;
  margin-left: 134px;
}

.detailtips {
  height: 60px;
}

.detailtips h2 {
  font-size: 22px;
  font-family: SanFranciscoText-Bold, SanFranciscoText;
  font-weight: bold;
  color: rgba(68, 68, 68, 1);
  line-height: 26px;
  float: left;
  height: 26px;
  margin-bottom: 5px;
}

.detailtips h2::after {
  content: '';
  width: 100%;
  height: 8px;
  background: rgba(247, 181, 0, 1);
  display: block;
  margin-top: 10px;
}

.conent {
  font-size: 14px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: rgba(68, 68, 68, 1);
  line-height: 26px;
}

.aboutbody p {
  font-size: 14px;
  font-family: PingFang-SC-Medium, PingFang-SC;
  font-weight: 500;
  color: rgba(68, 68, 68, 1);
  line-height: 26px;
  margin-bottom: 20px;
}